@model be.business.Model.Movimento

@{
    ViewBag.Title = "Status";
}

<body>
    <script src="~/Scripts/Home.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#formMovimento input[type=submit]").click(function (event) {
                event.preventDefault();
                var $form = $("#formMovimento");
                var data = $form.serialize();
                $.post("/Home/Atualizar", data, function (data) {
                    alert(data);
                });

            });
        });
    </script>
</body>


<div class="alert divError" role="alert" style="display: none" id="success-alert">

</div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formMovimento" }))
{


    <div class="jumbotron text-center" style="background: rgb(39, 40, 34);">
        <h1>Status R.O.B.O</h1>
    </div>

    <div class="row text-center title-text">
        <h1>CABEÇA</h1>
    </div>
    @Html.HiddenFor(model => model.Id)
    <div class="row" style="margin-left: 10%;">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Cabeca.RotacaoStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.Label(be.client.Source.EnumHelper.GetEnumName<be.business.Model.RotacaoStatus>(Model.Cabeca.RotacaoStatus))
                </div>

            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Cabeca.InclinacaoStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.Label(be.client.Source.EnumHelper.GetEnumName<be.business.Model.InclinacaoStatus>(Model.Cabeca.InclinacaoStatus))
                </div>
            </div>
        </div>
    </div>

    for (int i = 0; i < Model.Bracos.Count(); i++)
    {

        <div class="row text-center title-text">
            <h1>BRAÇO  @Html.Label(Model.Bracos[i].Lado.ToString())</h1>
        </div>
        <div class="row" style="margin-left: 10%;">

            <div class="col-md-6">

                <div class="form-group">
                    @Html.LabelFor(model => Model.Bracos[i].Cotovelo.CotoveloStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.Label(be.client.Source.EnumHelper.GetEnumName<be.business.Model.CotoveloStatus>(Model.Bracos[i].Cotovelo.CotoveloStatus))

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => Model.Bracos[i].Pulso.PulsoStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.Label(be.client.Source.EnumHelper.GetEnumName<be.business.Model.PulsoStatus>(Model.Bracos[i].Pulso.PulsoStatus))

                    </div>
                </div>
            </div>
        </div>

    }

}


